@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
}
body {
    height: 100vh;
    background-color: var(--bg-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body.first {
    --header-label: hsl(30, 25%, 89%);
    --bg-theme : hsl(222, 26%, 31%);
    --bg-toggle-keypad : hsl(223, 31%, 20%);
    --bg-screen : hsl(224, 36%, 15%);
    --bg-del-reset-key : hsl(225, 21%, 49%);
    --key-shadow-del-reset : hsl(224, 28%, 35%);
    --bg-keys : hsl(30, 25%, 89%);
    --key-shadow-keys : hsl(28, 16%, 65%);
    --bg-result-toggle-key : hsl(6, 63%, 50%);
    --key-shadow-result : hsl(6, 70%, 34%);
    --text-color : hsl(221, 14%, 31%);
    height: 100vh;
    background-color: var(--bg-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body.second {
    --bg-theme: hsl(0, 0%, 90%);
    --bg-toggle-keypad: hsl(0, 5%, 81%);
    --bg-screen: hsl(0, 0%, 93%);
    --bg-del-reset-key: hsl(185, 42%, 37%);
    --key-shadow-del-reset: hsl(185, 58%, 25%);
    --bg-keys: hsl(45, 7%, 89%);
    --key-shadow-keys: hsl(35, 11%, 61%);
    --bg-result-toggle-key: hsl(25, 98%, 40%);
    --key-shadow-result: hsl(25, 99%, 27%);
    --text-color: hsl(60, 10%, 19%); 
}
body.third {
    --header-label: hsl(52, 100%, 62%);
    --bg-theme: hsl(268, 75%, 9%);
    --bg-screen : hsl(268, 71%, 12%);
    --bg-toggle-keypad: hsl(268, 71%, 12%);
    --bg-del-reset-key: hsl(281, 89%, 26%);
    --key-shadow-del-reset: hsl(290, 70%, 36%);
    --bg-keys: hsl(268, 47%, 21%);
    --key-shadow-keys: hsl(285, 91%, 52%);
    --bg-result-toggle-key:  hsl(176, 100%, 44%);
    --key-shadow-result: hsl(177, 92%, 70%);
    --text-color: hsl(52, 100%, 62%);
    --text-del-result-color: hsl(0, 0, 100%);
    --text-result-color: hsl(198, 20%, 13%);
}
label, h6 {
    font-size: 13px;
    color: var(--header-label);
    position: relative;
    left: 70px;
}
.calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    align-items: center;
}
.header {
    display: flex;
    margin: 50px 0 10px;
    position: relative;
}
.header > h1 {
    color: var(--header-label);
    position: absolute;
    top: -15px;
    left: -90px;
}
.header > h6 {
    align-items: center;
}
.theme {
    height: 30px;
    width: 80px;
    border-radius: 30px;
    background-color: var(--bg-toggle-keypad);
    position: relative;
    left: 90px;
}
[id="theme1"],[id="theme2"], [id="theme3"] {
    background: transparent;
    border: none;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    top: 7px;
    transition: 0.2s;
}
.header button:hover {
    background-color: var(--bg-result-toggle-key);
}
[id="theme1"] {
    left: 10px;
}
[id="theme2"] {
    left: 33px;
}
[id="theme3"] {
    left: 55px;
}
.btn{
    background-color: transparent;
}
.active {
    background-color: var(--bg-result-toggle-key);
}
label{
    top: -36px;
}
.theme1-label {
    left: 13px;
}
.theme2-label {
    left: 29px;
}
.theme3-label {
    left: 44px;
}
.user-input {
    background-color: var(--bg-screen);
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: right;
    color: var(--header-label);
    overflow: hidden;
    border: none;
    outline: none;
    padding: 0 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    background-color: var(--bg-toggle-keypad);
    padding: 10px;
    border-radius: 10px;
}
.grid-container > button {
    margin: 0 8px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: var(--bg-keys);
    color: var(--text-color);
    box-shadow: 0 5px var(--key-shadow-keys);
    font-size: 25px;
}
button:active {
    transform: translateY(2px);
}
.span {
    grid-column: span 2;
}
button:nth-child(17), button:nth-child(4) {
    background-color: var(--bg-del-reset-key);
    box-shadow: 0 5px var(--key-shadow-del-reset);
    color: #fff;
    font-size: 15px;
    padding: 17px 0
}
button:nth-child(18) {
    background-color: var(--bg-result-toggle-key);
    box-shadow: 0 5px var(--key-shadow-result);
}
.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}
@media (min-width: 1200px){
    .calculator {
        width: 350px;
    }
    .grid-container {
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(5, 65px);
    }
    .grid-container > button {
        margin: 0 5px;
        padding: 5px 0;
    }
    button:nth-child(17), button:nth-child(4) {
        padding: 13px 0;
    }
}